node_modules/
.next/
out/
dist/
electron/
tubes.db
tubes.json
*.log
.env
.env.local
.env.production.local
.env.development.local
.vercel
KanoMarineQRSystem/
package-sqlite.json
win-unpacked/
*.exe
*.blockmap
*.yml
*.yaml